<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984881332466-7njgqliuejsu9apkc42f8lvsgo9he10d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984881332466-7njgqliuejsu9apkc42f8lvsgo9he10d</string>
	<key>API_KEY</key>
	<string>AIzaSyCBHd9NFJ3NnTn-D4S72ZS8vFvjIhbXi4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>984881332466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gammation</string>
	<key>PROJECT_ID</key>
	<string>gammation-a6052</string>
	<key>STORAGE_BUCKET</key>
	<string>gammation-a6052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984881332466:ios:0ce2c6439b43a421c6d06b</string>
</dict>
</plist>